@font-face {
  font-family: 'Monas';
  src: url(Monas\ Demo.ttf) format('woff');
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #2b2c23;
  background-image: url('Imagens/back.jpg'); /* imagem de fundo */
  background-size: contain;
  color: #f0f0f0;
  line-height: 1.6;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.titulo {
  font-family: 'monas';
  text-align: center;
  font-size: 8rem;
  color: #421b00;
  margin-bottom: 2rem;
  margin-top: 0%;
}

.perfil {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1.5rem;
}

.foto-perfil {
  width: 60%;
  border-radius: 10px;
  height: 400px;
  object-fit: fill;
  display: block;
  margin: 0 auto;
}


.info h2 {
  font-size: 3rem;
  margin: 0;
  color: #421b00;
  font-weight: bolder;
}

.cidade {
  font-style: italic;
  color: #ccc;
  margin-bottom: 1rem;
}

.bio {
  text-align: justify;
  font-size: 18px;
}

.galeria {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.galeria img {
  width: 30%;
  min-width: 200px;
  border-radius: 6px;
  object-fit: cover;
}

.texto {
  margin: 1.5rem 0;
  text-align: justify;
  font-size: 18px;
}

.video-placeholder {
  width: 100%;
  border-radius: 8px;
  margin: 2rem 0;
}

.soundcloud-player {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.soundcloud-player iframe {
  width: 100%;
  height: 300px;
  display: block;
  border: none;
}

.soundcloud-info {
  font-size: 10px;
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Interstate', 'Lucida Grande', sans-serif;
  font-weight: 100;
  text-align: center;
}

.soundcloud-info a {
  color: #421b00;
  text-decoration: none;
}

.contato {
  margin-top: 3rem;
  text-align: center;
  font-size: 18px;
  color: #421b00;
  font-weight: bold;
}

.contato a {
  color: #421b00;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}

.contato a:hover {
  text-decoration: underline;
  font-weight: bold;
  font-size: 21px;
}